*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

In [1]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [2]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2022-08-28 18:43:24--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.3.33, 172.67.70.149, 104.26.2.33, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.3.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M  39.1MB/s    in 0.6s

2022-08-28 18:43:25 (39.1 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [8]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [9]:
df_books

,isbn,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber
...,...,...,...
271374,0440400988,There's a Bat in Bunk Five,Paula Danziger
271375,0525447644,From One to One Hundred,Teri Sloat
271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker
271377,0192126040,Republic (World's Classics),Plato
271378,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle

In [10]:
df_ratings

           user         isbn  rating
0        276725   034545104X     0.0
1        276726   0155061224     5.0
2        276727   0446520802     0.0
3        276729   052165615X     3.0
4        276729   0521795028     6.0
...         ...          ...     ...
1149775  276704   1563526298     9.0
1149776  276706   0679447156     0.0
1149777  276709   0515107662    10.0
1149778  276721   0590442449    10.0
1149779  276723  05162443314     8.0

[1149780 rows x 3 columns]

In [11]:
# filtering out users with less than 200 ratings
user_rating_count = df_ratings.drop("isbn", axis=1).groupby(["user"]).count()
filtered_users = user_rating_count[user_rating_count["rating"] >= 200]
# filtering out books with less than 100 ratings
book_rating_count = df_ratings.drop("user", axis=1).groupby(["isbn"]).count()
filtered_books = book_rating_count[book_rating_count["rating"] >= 100]
# removing statistically insignificant users and books 
df_ratings = df_ratings[df_ratings["user"].isin(filtered_users.index)]
df_ratings = df_ratings[df_ratings["isbn"].isin(filtered_books.index)]
df_ratings = df_ratings.reset_index(drop=True)
df_ratings

         user        isbn  rating
0      277427  002542730X    10.0
1      277427  0060930535     0.0
2      277427  0060934417     0.0
3      277427  0061009059     9.0
4      277427  0140067477     0.0
...       ...         ...     ...
49776  275970  0804111359     0.0
49777  275970  140003065X     0.0
49778  275970  1400031346     0.0
49779  275970  1400031354     0.0
49780  275970  1400031362     0.0

[49781 rows x 3 columns]

In [12]:
df_books = df_books[df_books['isbn'].isin(df_ratings['isbn'])]
df_books = df_books.set_index('isbn')
df_books

,title,author
isbn,,
0440234743,The Testament,John Grisham
0452264464,Beloved (Plume Contemporary Fiction),Toni Morrison
0971880107,Wild Animus,Rich Shapero
0345402871,Airframe,Michael Crichton
0345417623,Timeline,MICHAEL CRICHTON
...,...,...
0425178765,Easy Prey,John Sandford
0449223604,M Is for Malice,Sue Grafton
0345444884,The Talisman,STEPHEN KING
0060008032,Angels,Marian Keyes
0515135739,Eleventh Hour: An FBI Thriller (FBI Thriller (...,Catherine Coulter

In [33]:
data = df_ratings.copy()
titles = []
authors = []
for i in range(df_ratings.shape[0]):
  isbn = df_ratings.iloc[i]['isbn']
  title = ""
  author = ""
  try:
    title, author = df_books.loc[isbn]
  except:
    title, author = np.nan, np.nan
  titles.append(title)
  authors.append(author)
data["title"] = titles
data["author"] = authors
data

,user,isbn,rating,title,author
0,277427,002542730X,10.0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner
1,277427,0060930535,0.0,The Poisonwood Bible: A Novel,Barbara Kingsolver
2,277427,0060934417,0.0,Bel Canto: A Novel,Ann Patchett
3,277427,0061009059,9.0,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich
4,277427,0140067477,0.0,The Tao of Pooh,Benjamin Hoff
...,...,...,...,...,...
49776,275970,0804111359,0.0,Secret History,DONNA TARTT
49777,275970,140003065X,0.0,A Fine Balance,Rohinton Mistry
49778,275970,1400031346,0.0,The No. 1 Ladies' Detective Agency,Alexander McCall Smith
49779,275970,1400031354,0.0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith
49780,275970,1400031362,0.0,Morality for Beautiful Girls (No.1 Ladies Dete...,Alexander McCall Smith

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49781 entries, 0 to 49780
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    49781 non-null  int32
 1   isbn    49781 non-null  object
 2   rating  49781 non-null  float32
 3   title   49517 non-null  object
 4   author  49517 non-null  object
dtypes: float32(1), int32(1), object(3)
memory usage: 1.5+ MB

In [35]:
data = data.dropna()

In [38]:
pivot_table = data.pivot(index="isbn", columns="user", values="rating")
pivot_table = pivot_table.fillna(0)
pivot_table

user,254,2276,2766,2977,3363,4017,4385,6242,6251,6323,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
isbn,,,,,,,,,,,,,,,,,,,,,
002542730X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
0060008032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060096195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
006016848X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060173289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573227331,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1573229326,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1573229571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1592400876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1878424319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
data_matrix = csr_matrix(pivot_table)
knn = NearestNeighbors(n_neighbors=6, metric='cosine').fit(data_matrix)

In [56]:
# function to return recommended books - this will be tested
def get_recommends(book_name = ""):
  
  book_isbn = df_books[df_books['title'] == book_name].index[0]
  book_ratings = pivot_table.loc[book_isbn].values

  matrix = csr_matrix(book_ratings)
  distances, indices = knn.kneighbors(matrix)
  distances = list(distances[0])
  indices = list(indices[0])
  distances.reverse()
  indices.reverse()

  neighbors = []
  for distance, index in zip(distances, indices):
    distance = round(distance, 2)
    if distance == 0.0:
      continue
    neighbor = []
    isbn = pivot_table.index[index]
    title = df_books.loc[isbn]['title']
    neighbor.append(title)
    neighbor.append(distance)
    neighbors.append(neighbor)

  recommended_books = [book_name, neighbors]
  return recommended_books

In [57]:
get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")

['The Queen of the Damned (Vampire Chronicles (Paperback))',
 [['Catch 22', 0.79],
  ['The Witching Hour (Lives of the Mayfair Witches)', 0.74],
  ['Interview with the Vampire', 0.73],
  ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.54],
  ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.52]]]

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [58]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8], ['The Weight of Water', 0.77], ['The Surgeon', 0.77], ['I Know This Much Is True', 0.77], ['The Lovely Bones: A Novel', 0.72]]]
You passed the challenge! 🎉🎉🎉🎉🎉